@page{
    size: A4 portrait;
    margin:1cm;
}



@media print{
    /*unblock card to make print on next page available */
    .card {
        display: block;
    }

   .card{
        page-break-after: always;
    } 

}