@page{
    size: A4 portrait;
    margin:0.8cm;
}

@media print{
    /*unblock card to make print on next page available */
    .card {
        display: block;
        page-break-after: always;
        outline-color: white;
    }
}

